body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 1%;
}

.greenBox {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background-color: #64df59;
  width: 30%;
  overflow: hidden;
}

.height {
  float: center;
  font-size: 24px;
  font-weight: bold;
}

.input {
  font-size: 24px;
  float: center;
  background-color: #64df59;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
}

.greenButton {
  float: center;
  font-weight: bold;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #64df59;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 20%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.greenButton:hover {
  background-color: #3e8e41;
}

.greenButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.takeMid {
  text-align: center;
}

/*.takePhoto {
  float: center;
  font-weight: bold;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #64df59;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 2%;
  margin-left: 20%;
  width: 20%;
}*/

/*.uploadPhoto {
  font-weight: bold;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #64df59;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 2%;
  margin-left: 20%;
  width: 20%;
}*/

.buttonColumn {
}

.openCamera {
}

h1 {
  color: #252d58;
  font: 48px "Century Gothic";
  font-weight: bold;
}

p {
  color: red;
}

h2 {
  text-align: center;
  color: #252d58;
  font: 36px "Century Gothic";
  font-weight: bold;
}

.example_image {
  margin: auto;
  width: 20%;
  text-align: center;
  background-color: #fffbfb;
  padding: 0.2%;
}

#myTable tr td {
  width: 100%;
}

#myTable tr td:first-child {
  width: 30%;
}
#myTable tr td:nth-child(2) {
  width: 60%;
}
#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.styleCon {
  transition: 1s;
  background-color: rgb(236, 236, 236);
}

.stressCon {
  transition: 1s;
  background-color: rgb(80, 80, 80);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.canvasContainer {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

.topDiv {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 0px;
  align-items: center;
}

.headDivider {
  width: 100%;
  height: 5px;
  background-color: blue;
  display: block;
}

.buttonContainer {
  top: 0px;
  text-align: center;
}

.changeButton {
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.selected {
  transition: 1s;
  background-color: rgb(90, 90, 214);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rightDiv {
  position: absolute;
  right: 0px;
  top: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changeMeasurementsButton {
  width: 40px;
  height: 40px;
  background-color: blue;
  display: inline-block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  color: white;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomDiv {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.267);
}

.leftMenu {
  width: 49%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divider {
  align-self: center;
  height: 75%;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.452);
  left: 50%;
  display: block;
}

.rightMenu {
  width: 49%;
  right: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selectElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 1s;
}

.arrow {
  font-size: 20px;
}

.garmentTexture {
  height: 70%;
  background-color: white;
  width: 4%;
  align-self: center;
  border-radius: 5px;
  display: block;
  transition: 0s !important;
}

.body {
  font-size: large;
}

.makeWhite {
  color: white !important;
}

.selectedGarment {
  width: 6%;
  height: 80%;
  transition: 0s;
}

.selectedBody {
  background-color: black;
}

.modalSeperator {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 1px;
  background-color: rgb(155, 155, 155);
}

.heightInfo > t {
  margin: 10px;
}

.takeMeasurements {
  margin: 10px;
}

.takeMeasurements > input {
  margin-left: 10px;
  margin-right: 10px;
}

.rangeInput {
  width: 50%;
}

.numberInput {
  width: 7%;
}

.leftA {
  position: absolute;
  top: 30%;
  left: 5%;
}

.rightA {
  position: absolute;
  top: 30%;
  left: 40%;
}

.slider {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.applyButton {
  font-size: 16px !important;
  padding: 10px;
}

.loader {
  position: absolute;
  left: 45%;
  top: 45%;
}